.intro__list {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    color: #FFFFFF;
    max-width: 690px;
    margin: 34px 0 0;
    padding: 0;
    list-style-type: none;
}

@media (max-width: 414px) {
    .intro__list {
        max-width: 288px;
    }
}