.lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 56px auto 0;
    max-width: 984px;
}

@media (max-width: 1024px) {
    .lead {
        margin: 48px 48px 0;
        max-width: 928px;
    }
}

@media (max-width: 768px) {
    .lead {
        margin: 48px 0 0;
        max-width: 768px;
    }
}

@media (max-width: 414px) {
    .lead {
        margin: 48px 0 0;
        max-width: 320px;
    }
}