.lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 56px auto 0;
    max-width: min-content;
}

@media (max-width: 1024px) {
    .lead {
        margin-top: 48px;
    }
}