.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1184px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .header {        
        max-width: 928px;
    }
}

@media (max-width: 910px) {
    .header {        
        max-width: 720px;
        margin: 0;
    }
}

@media (max-width: 730px) {
    .header {        
        max-width: 500px;
    }
}

@media (max-width: 500px) {
    .header {        
        max-width: 400px;
    }
}

@media (max-width: 320px) {
    .header {        
        max-width: 288px;
    }
}