.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1184px;
}

@media (min-width: 1024px) {
    .header {        
        max-width: 928px;
    }
}

@media (min-width: 768px) {
    .header {        
        max-width: 720px;
    }
}

@media (min-width: 320px) {
    .header {        
        max-width: 288px;
    }
}