.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 92px 148px 0;
    max-width: max-content;
}

@media (max-width: 1024px) {
    .intro {
        margin-left: 48px;
    }    
}

@media (max-width: 768px) {
    .intro {
        margin: 88px 24px 0;
    }    
}


@media (max-width: 414px) {
    .intro{
        max-width: 288px;
        margin: 64px 16px 0;
    }
    
}