.cover__background {
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    max-width: 1184px;
    min-height: 740px;
}

@media (max-width: 1024px) {
    .cover__background {
        max-width: 1024px;
        min-height: 640px;
    }    
}

@media (max-width: 768px) {
    .cover__background {
        max-width: 768px;
        min-height: 480px;
    }    
}

@media (max-width: 414px) {
    .cover__background {
        max-width: 320px;
        min-height: 200px;
    }    
}