.place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(max-content, min-content));
    gap: 48px 40px;
    list-style-type: none;
    margin: 80px 0 0;
    max-height: min-content;
}

@media (max-width: 1024px) {
    .place {
        gap: 48px 32px;
    }    
}

@media (max-width: 768px) {
    .place {
        gap: 48px 28px;
        margin: 73px 0 0;
    }    
}

@media (max-width: 414px) {
    .place {
        grid-template-columns: minmax(max-content, min-content);
        grid-auto-rows: minmax(max-content, min-content);
        gap: 32px;
        margin-top: 50px;
    }    
}